/* Introduction */
#introduction {
	font-family: Helvetica, sans-serif;
	z-index: 25;
	background: white;
}
#introduction .description {
	padding: 10px 9px 0 10px;
}
#introduction .description a {
	color: black;
}
#introduction .description p {
	text-align: justify;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#introduction .tryit, #introduction .project {
	border-bottom: 1px solid #aaa;
}
#introduction .tryit {
	padding-bottom: 15px;
}
#introduction .tryit p {
	text-align: center;
	margin-top: 14px;
	margin-bottom: 14px;
}
#introduction .tryit a#orgEditLink {
	display: block;
	border-radius: 2px;
	padding: 8px 16px;
	background: #44AA55;
	border: 1px solid gray;
	width: 180px;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	color: white;
}
#introduction .project {
	text-align: center;
	font-family: sans-serif;
	padding-bottom: 8px;
}
#introduction .project .title {
	font-size: 16px;
	margin-bottom: 5px;
}
#introduction .project .slogan {
	font-size: 15px;
}
#introduction .project p.link a {
	color: #9a33cc;
	text-decoration: none;
}
#introduction .project p.link img {
	display: inline-block;
	width: 24px;
	vertical-align: middle;
}
#introduction .project p.link span {
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
}
#introduction .project .countdown {
	font-size: 13px;
}
#introduction .facebook {
	display: block;
	margin-top: 15px;
	text-align: center;
	z-index: 1;
}
#introduction .facebook p {
	text-align: center;
}
#introduction .facebook .button {
	width: 180px;
	margin: 12px auto;
}
#introduction .fbstyle {
	display: block;
	text-align: center;
	padding: 8px 16px;
	background-color: #3B5998;
	font-family: Helvetica, sans-serif;
}
#introduction .fbstyle a {
	text-decoration: none;
	color: white;
}

/* Introduction toggler */
#introduction-toggler {
	display: block;
	position: absolute;
	bottom: 30%;
	margin-left: -4px;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	background: white;
	padding-left: 4px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	z-index: 22;
	left: 259px;
	cursor: pointer;
}
#introduction-toggler .toggler-button {
	padding: 16px 7px;
	border: 0 none;
	background: none;
	cursor: pointer;
}

@media all and (max-width: 699px) {
	#introduction {
		display: none !important;
	}
	#introduction-toggler {
		display: none !important;
	}
}
