/* Use border-box box model, more information: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 1rem;
	font-family: 'Arial';
}
#header {
	display: block;
	background: #eeeeee;
	height: 80px;
	border-bottom: 1px solid #8c8c8c;
}
/* Logo and branding */
#logo {
	position: absolute;
	top: 17px;
	left: 17px;
	width: 221px;
	height: 63px;
	font-family: Arial;
}
#logo a {
	text-decoration: none;
}
#logo img {
	float: left;
	width: 52px;
	height: 51px;
	margin-right: 10px;
}
#logo h1.brand {
	margin: 0;
	font-size: 130%;
	color: #577449;
}
#logo:hover h1.brand {
	text-shadow: 0px 0px #909090;
}
#logo h2.slogan {
	margin: 4px 0 0;
	font-size: 90%;
	color: black;
}

/* Top menu */
#menu {
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	font-family: Arial;
}
#menu li.name1 a {
	color: #577449;
	font-size: 100%;
}
#menu .name1 {
	display: none;
}
#menu ul {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 0;
}
#menu ul li {
	display: inline;
	margin: 0;
	list-style-type: none;
	text-align: center;
	position: relative;
	font-size: 14px;
}
#menu ul li:before {
	content: "|";
	color: #ddd;
}
#menu ul li:first-child:before {
	content: "";
}
#menu li a {
	line-height: 25px;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	color: blue;
}
#menu li a:hover {
	text-decoration: underline;
	background-color: #f0f0f0;
}

/* Social buttons */
#social {
	position: absolute;
	top: 40px;
	right: 0;
	width: 120px;
}

/* Search area */
#search-area {
	position: absolute;
	top: 20px;
	left: 264px;
	z-index: 100;
	font-family: Arial;
}

#search-area #search-mode, #search-area #directions-mode {
	display: inline-block;
}
#search-area #mode-selector .active a {
	border: 1px solid #ccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-weight: bold;
	border-bottom: 0 none;
}
#search-area #search-mode a, #search-area #directions-mode a {
	padding: 4px 12px;
	font-size: 13px;
	text-decoration: none;
	color: #0066FF;
}
#search-area #modes {
	display: inline-block;
}
#search-area #directions {
	display: none;
}
#search-area #directions .fields {
	display: inline-block;
}
#search-area input.autocomplete {
	width: 260px;
	padding: 6px 0 5px 6px;
	margin: 0;
	font-size: 95%;
	height: 32px;
	border: 1px solid #aaa;
	border-radius: 3px 0 0 3px;
}
#search-area input.searching {
	background-image: url("/kepek/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position: 98% 50%;
}
#search-area input.tt-hint {
	border-width: 1px;
}
#search-area .tt-dropdown-menu {
    width: 266px;
    padding: 2px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#search-area .tt-dropdown-menu .tt-suggestion {
    padding: 2px 8px;
    font-size: 15px;
    line-height: 24px;
}
#search-area .tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}
#search-area .tt-suggestion p {
    margin: 0;
}
#search-area .search-button {
	display: inline-block;
	margin: 0;
	vertical-align: top;
}
#search-area .search-button button {
	position: relative;
	font-size: 95%;
	cursor: pointer;
	margin: 0;
	padding: 6px 10px 7px 8px;
	height: 32px;
	border: 1px solid #aaa;
	border-left-width: 0;
	border-radius: 0 3px 3px 0;
	color: #e8f0de;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

#search-area #directions input.autocomplete {
	width: 210px;
}
#search-area input#directions-start-search {
	border-radius: 3px;
}

/* Select2 */
#search-area .poi-search {
	display: inline-block;
	vertical-align: top;
}
#search-area .select2-container {
	margin: 0 0 0 4px;
	width: 180px;
	vertical-align: top;
}
#search-area a.select2-choice {
	padding: 3px 0 0px 9px;
	height: 32px;
	border-radius: 3px;
}
#search-area a.select2-choice span.select2-chosen {
	font-size: 95%;
}

/* Select2 results */
ul.select2-results {
	min-height: 200px;
	max-height: 300px;
	overflow-y: auto;
}
ul.select2-results li {
	font-size: 14px;
	font-family: Arial;
}

/* Override panels */
.panel {
	top: 80px;
}

/* Search result popup */
.search-result-info {
	min-width: 200px;
}
.search-result-info h1.title {
	font-size: 18px;
	margin-bottom: 5px;
}
.search-result-info p.address {
	font-size: 14px;
	margin-bottom: 30px;
}
.search-result-info .more {
	text-align: center;
}
.search-result-info .more button {
	margin-top: 12px;
}
.search-result-info .more p.info {
	margin-top: 18px;
	color: blue;
}

/* Override map css */
#map-container {
	top: 80px;
	left: 263px;
}

/* Popup for a marker present in the url */
.popup-loaded-marker {
	margin: 10px 10px 20px 10px;
	font-weight: bold;
	font-size: 18px;
}

/* Header layout on smaller screens */
@media all and (max-width: 910px) {
	#logo .brand, #logo .slogan {
		display: none;
	}
	#search-area {
		left: 90px;
	}
}

/* Map layout on mobile or small screen */
@media all and (max-width: 699px) {
	.panel, #menu li.mobile-hidden, .mobile-hidden, #social, #logo, #separator, .toggler {
		display: none;
	}
	#header {
		height: auto;
		margin-bottom: 0;
		border-bottom-color: #ccc;
	}
	#menu li a {
		padding: 5px 8px;
		line-height: 32px;
		font-size: 15px;
	}
	#menu .name1 {
		display: inline;
	}
	#menu {
		position: initial;
		height: auto;
		width: 100%;
		text-align: center;
	}
	#search-area {
		position: initial;
		padding: 0;
		border: 0 none;
		width: 100%;
	}
	#search-area #search-options-container {
		display: block;
		height: auto;
		padding: 2px 0;
		border-top: 1px solid #ccc;
	}
	#search-area #search-options {
		display: table;
		border-collapse: collapse;
		width: 100%;
	}
	#search-area #mode-selector a {
		display: block;
		font-size: 15px;
		padding: 6px 16px;
	}
	#search-area #mode-selector a i {
		margin-right: 3px;
	}
	#search-area #modes {
		display: table-cell;
	}
	#search-area #search form {
		display: table;
		width: 100%;
	}
	#search-area input.autocomplete {
		display: table-cell;
		font-size: 15px;
		padding: 6px 10px 5px;
		height: 30px;
		width: 100%;
	}
	#search-area .search-button {
		display: table-cell;
		width: 31px;
	}
	#search-area .search-button button {
		width: 31px;
		height: 30px;
		font-size: 80%;
		vertical-align: top;
		padding: 0;
	}
	#search-area #directions .fields {
		display: table-cell;
		width: 100%;
	}
	#search-area #directions .fields .autocomplete {
		width: 100%;
	}
	#search-area #directions .search-button button {
		height: 60px;
	}
	#search-area .poi-search {
		display: table-cell;
		vertical-align: middle;
		padding-left: 3px;
		min-width: 140px;
	}
	#search-area .select2-container {
		width: 100%;
		height: 30px;
		font-size: 90%;
		vertical-align: top;
		margin: 0;
	}
	#search-area a.select2-choice {
		margin: 0px;
		height: 30px;
		padding: 1px 0 0 9px;
	}
	#search-area span.select2-chosen {
		line-height: 26px;
	}
	#search-area a.select2-choice abbr {
		top: 7px;
		width: 16px;
		height: 16px;
		background-size: 80px 54px !important;
	}
	#search-area a.select2-choice abbr:hover {
		background-position: right -15px;
	}
	.select2-drop {
		border-top: 1px solid #5897fb;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	ul.select2-results li .object {
		margin-left: 5px;
	}
	#search-area .tt-dropdown-menu .tt-suggestion {
		padding: 1px 8px;
		font-size: 85%;
		line-height: 22px;
	}
	.leaflet-left {
		right: 0;
	}
	.leaflet-left .leaflet-control {
		margin-top: 5px;
		margin-left: 5px;
	}
	.leaflet-right .leaflet-control {
		margin-top: 5px;
		margin-right: 5px;
	}
	.leaflet-control-minZoomIndicator {
		position: absolute;
		font-size: 100%;
		max-width: 370px;
		top: 0;
		right: 68px;
	}
	.leaflet-control-minZoomIndicator img {
		margin-top: 3px;
	}
	.popup-marker {
		font-size: 80%;
	}
}
@media all and (max-width: 349px) {
	#search-area .poi-search {
		padding-left: 0;
		min-width: 0;
	}
}
