/* Map */
#map-container {
	z-index: 20;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#map-container noscript p {
	text-align: center;
	font-weight: bold;
}
#map {
	height: 100%;
}

/* General error */
#general-error {
	display: none;
	position: absolute;
	left: 300px;
	top: 38px;
	z-index: 200;
	background-color: #f2dede;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: #a94442;
	color: #a94442;
	padding: 15px;
}

/* minZoomIdenticator Control */
.leaflet-control-minZoomIndicator {
	display: block;
	top: -120px;
	left: 45px;
	font-size: 1.7em;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	padding: 1px 12px;
	color: #031634;
	cursor: default !important;
}
.leaflet-control-minZoomIndicator img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-right: 6px;
}

/* Leaflet loading indicator */
.leaflet-control-loading-indicator {
	display: none;
	position: absolute !important;
	left: 40px;
	padding: 5px 12px;
	color: #0066FF;
	background-color: #fff;
	font-size: 13px;
	width: 100px;
}
.leaflet-control-loading-indicator img {
	display: inline-block;
	vertical-align: middle;
}
.leaflet-control-loading-indicator span {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}
body.loading .leaflet-control-loading-indicator {
	display: block;
}

.leaflet-control .easy-button-button {
	padding: 3px;
}

/* reportError Control */
#report-error-control, #report-error-control a {
	width: 140px !important;
}
#report-error-control span.icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url("/kepek/feedback_icon.png");
	vertical-align: top;
}
#report-error-control span.text {
	margin-left: 6px;
	color: #0000EE;
}

/* Side panel */
.panel {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 263px;
	font-size: 14px;
	border-right: 1px solid #8c8c8c;
}

@media all and (max-width: 699px) {
	#map-container {
		left: 0 !important;
	}
}
