/* Marker Control */
.leaflet-control-marker a {
	background-image: url('/kepek/share-icon.png');
	padding: 0px;
}

/* Share popup */
.share-popup {
	text-align: center;
}
.share-popup h1 {
	font-size: 150%;
	text-align: left;
}
.share-popup p {
	font-size: 100%;
}
.share-popup textarea {
	width: 100%;
	padding: 5px;
}
.share-popup input.share-url {
	width: 200px;
	margin-left: 5px;
	padding: 1px 3px;
	border: 1px solid #AAA;
	font-size: 75%;
}
.share-popup button {
	cursor: pointer;
}
.share-popup .help {
	text-align: center;
	font-size: 90%;
}
