html, body {
	margin: 0;
	background-color: #f0f0f0;
}
#create {
	width: 800px;
	margin: 30px auto;
	border: 1px solid #bbb;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 5px;
	background-color: #fff;
	padding: 20px;
	font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
#create h1 {
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
#create-form .help-block {
	color: #31708f;
}
#create-form .help-block span {
	padding: 2px 3px;
	background-color: #d9edf7;
}
#create-form #choose {
	padding: 15px;
}
#create-form input.searching {
	background-image: url('http://www.openstreetmap.hu/kepek/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: 98% 50%;
}
#create-form #search-results {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 5px;
}
#create-form #search-results .result {
	display: block;
	padding: 3px 15px;
	border: 1px solid #bbb;
	border-top-width: 0;
	cursor: pointer;
	background-color: #eee;
}
#create-form #search-results .result:hover {
	background-color: #ddd;
}
#create label.step {
	margin-top: 10px;
	font-size: 14px;
}
#create-form .map-container {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 560px;
}
#create-form .map-container label {
	margin-bottom: 0;
	font-weight: normal;
}
#create-form .map-container #choose-map {
	text-align: left;
	width: 560px;
	height: 315px;
}
#create-form .map-container #overlay-info {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 5px;
	background: white;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 2px;
	font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-align: left;
}
#create-form .map-container #overlay-info p.title {
	font-size: 16px;
	color: black;
	font-weight: bold;
	margin: 6px 30px 2px 10px;
}
#create-form .map-container #overlay-info p.title:empty, #create-form .map-container #overlay-info p.address:empty {
	display: none;
}
#create-form .map-container #overlay-info p.address {
	font-style: italic;
	font-size: 14px;
	margin: 2px 30px 5px 10px;
}
#create-form .button {
	margin-top: 20px;
	text-align: center;
}
#html-preview {
	min-height: 94px;
}
