// all .babelrc options must me mirrored in webpack.config.js
{
  "sourceType": "unambiguous",
  "presets": [
    ["@babel/preset-env",
      {
        // "debug": true,
        "targets": {
          "browsers": ">0.05% in hu, ie 11"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
