// all .babelrc options must me mirrored in webpack.config.js
{
  "sourceType": "unambiguous",
  "presets": [
    ["@babel/preset-env",
      {
        // "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
