{
  "extends": "airbnb-base",
  "rules": {
    "indent": [ "error", "tab" ],
    "no-tabs": [ "off" ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "prefer-template": "off"
  },
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  }
}
