{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "indent": [ "error", "tab" ],
    "no-tabs": [ "off" ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "prefer-template": "off",
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "import/order": ["warn", {
      "newlines-between": "always"
    }]
  },
  "plugins": [
    "jest"
  ],
  "env": {
    "browser": true,
    "jest/globals": true
  }
}
