{
  "presets": [
    ["@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": ">0.05% in hu"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
