root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 140

[*.{shtml,html}]
indent_style = tab

[*.php]
indent_style = tab

[css/**.css]
indent_style = tab

[{js/**.js, package.json}]
indent_style = tab

[*.json]
indent_style = tab

[.eslintrc,.jshintrc]
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[Vagrantfile]
indent_style = space
indent_size = 2

[*.sh]
indent_style = tab
space_redirects = true
max_line_length = 125

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
max_line_length = 125

[.babelrc]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
