root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.shtml]
indent_style = tab

[css/**.css]
indent_style = tab

[{js/**.js, package.json}]
indent_style = tab

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.sh]
indent_style = tab
space_redirects = true

[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

[.babelrc]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
