/* Use border-box box model, more information: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 1rem;
	font-family: 'Arial';
}

#header {
	display: block;
	background: #eeeeee;
	height: 80px;
	border-bottom: 1px solid #8c8c8c;
}
/* Logo and branding */
#logo {
	padding: 16px 0 0 16px;
	width: 260px;
	font-family: Arial;
}
#logo a {
	text-decoration: none;
}
#logo img {
	float: left;
	width: 52px;
	height: 51px;
	margin-right: 10px;
}
#logo h1.brand {
	margin: 0;
	font-size: 130%;
	color: #577449;
	font-weight: bold;
}
#logo:hover h1.brand {
	text-shadow: 0px 0px #909090;
}
#logo h2.slogan {
	margin: 4px 0 0;
	font-size: 90%;
	color: black;
	font-weight: bold;
}

/* Top menu */
#menu {
	position: absolute;
	top: 0;
	right: 0;
	height: 25px;
	font-family: Arial;
}
#menu li.name1 a {
	color: #577449;
	font-size: 100%;
}
#menu .name1 {
	display: none;
}
#menu ul {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: 0;
}
#menu ul li {
	display: inline;
	margin: 0;
	list-style-type: none;
	text-align: center;
	position: relative;
	font-size: 14px;
}
#menu ul li:before {
	content: "|";
	color: #ddd;
}
#menu ul li:first-child:before {
	content: "";
}
#menu li a {
	line-height: 25px;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	color: blue;
}
#menu li a:hover {
	text-decoration: underline;
	background-color: #f0f0f0;
}

/* Header layout on smaller screens */
@media all and (max-width: 910px) {
	#logo .brand, #logo .slogan {
		display: none;
  }
}
