/* General */

/* Use border-box box model, more information: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: Arial, sans-serif;
	font-size: 1rem;
}

body {
	line-height: 1.5rem;
}

a {
	color: #0040ff;
	text-decoration: none;
}

a:hover {
	color: #002bb5;
	text-decoration: underline;
}

.nav {
	padding-left: 0;
	margin: 0;
}

.nav .nav-item {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav .nav-link {
	display: block;
	padding: .4rem 1rem;
}

.nav .nav-link:hover {
	text-decoration: none;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: .5rem;
}

.close-button {
	font-size: 1.5rem;
	color: #000;
	cursor: pointer;
	background-color: transparent;
	border: 0 none;
}

.close-button:hover {
	color: #000;
	text-decoration: none;
}

.text-danger {
	color: #a94442;
}

.font-weight-bold {
	font-weight: 700;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, .2);
}

/* Header */

.page-header {
	display: block;
	height: 80px;
	background: #eee;
	border-bottom: 1px solid #8c8c8c;
}

.page-header .header-logo {
	width: 256px;
	font-family: Arial, sans-serif;
}

.page-header .header-logo a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 79px;
	text-decoration: none;
}

.page-header .header-logo img {
	display: block;
	width: 52px;
	height: 51px;
	margin-right: 10px;
}

.page-header .header-logo .brand {
	display: block;
	margin: 0;
	font-size: 1.3rem;
	font-weight: 700;
	color: #577449;
}

.page-header .header-logo:hover .brand {
	text-shadow: 0 0 #909090;
}

.page-header .header-logo .slogan {
	display: block;
	margin: 0;
	font-size: .9rem;
	font-weight: 700;
	color: #000;
}

.page-header .header-menu .nav {
	display: flex;
}

.page-header .header-menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
}

.page-header .header-menu .nav .nav-item {
	font-size: .9rem;
}

.page-header .header-menu .nav-item .nav-link:hover {
	background-color: #e0e0e0;
}

/* Header on desktop screens */
@media all and (min-width: 700px) {
	.page-header .header-menu .brand-name {
		display: none;
	}
}

/* Header on smaller screens */
@media all and (max-width: 910px) {
	.page-header .header-logo {
		width: 100px;
	}

	.page-header .header-logo .brand-and-slogan-container {
		display: none;
	}
}

/* Header on mobile or small screen */
@media all and (max-width: 699px) {
	.page-header {
		height: inherit;
		margin-bottom: 0;
		border-bottom-color: #ccc;
	}

	.page-header .header-logo {
		display: none;
	}

	.page-header .header-menu {
		position: inherit;
		width: 100%;
		height: auto;
		text-align: center;
	}

	.page-header .header-menu .mobile-hidden {
		display: none;
	}

	.page-header .header-menu .nav {
		justify-content: center;
	}

	.page-header .header-menu .nav-item .nav-link {
		padding: 5px 8px;
	}

	.page-header .header-menu .brand-name a {
		color: #577449;
	}
}
