.introduction {
	z-index: 25;
	overflow: auto;
	background: #fff;
}

.introduction .side-panel-block {
	padding: .75rem .5rem;
	margin-top: 0;
	margin-bottom: .5rem;
	border-bottom: 1px solid #aaa;
}

.introduction .side-panel-block p {
	margin-top: 0;
	margin-bottom: .5rem;
	line-height: 1.3rem;
}

.introduction .description p {
	text-align: justify;
}

.introduction .promotion {
	text-align: center;
}

.introduction .promotion .title {
	font-size: 1rem;
}

.introduction .promotion .slogan {
	font-size: 15px;
}

.introduction .promotion .link a {
	color: #9a33cc;
}

.introduction .promotion .link img {
	display: inline-block;
	width: 24px;
	vertical-align: middle;
}

.introduction .promotion .link span {
	display: inline-block;
	margin-left: 4px;
	font-weight: 700;
	vertical-align: middle;
}

.introduction .promotion .countdown {
	font-size: .6rem;
}

.introduction .community-sites {
	text-align: center;
	border-bottom-width: 0;
}

.introduction .community-sites .facebook-button {
	display: block;
	width: 195px;
	padding: 8px 16px;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
	color: #fff;
	text-align: left;
	background-color: #3b5998;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.introduction .community-sites .facebook-button:hover {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.introduction .community-sites .facebook-button .facebook-page {
	padding-left: 22px;
	background-image: url("/kepek/fb-icon16.png");
	background-repeat: no-repeat;
	background-position: left center;
}

.introduction-toggler {
	position: absolute;
	bottom: 30%;
	left: 259px;
	z-index: 22;
	display: block;
	padding-left: 4px;
	margin-left: -4px;
	font-weight: 700;
	color: #000;
	cursor: pointer;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
}

.introduction-toggler .toggler-button {
	padding: 16px 7px;
	cursor: pointer;
	background: none;
	border: 0 none;
}

@media all and (max-width: 699px) {
	.introduction {
		display: none;
	}

	.introduction-toggler {
		display: none;
	}
}
