.leaflet-container .leaflet-popup .leaflet-popup-close-button {
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
	line-height: 2rem;
}

.popup-content .popup-content-info {
	margin-bottom: 1rem;
}

.popup-content .popup-content-title {
	display: inline-block;
	margin: 0 0 .25rem;
	font-size: 1.25rem;
}

.popup-content .wheelchair {
	display: inline-block;
	margin: 0 0 0 1rem;
	line-height: 1.25rem;
	vertical-align: middle;
}

.popup-content .wheelchair img {
	width: 1.25rem;
	height: 1.25rem;
}

.popup-content .type {
	margin-bottom: 1rem;
	font-size: .8rem;
}

.popup-content p {
	margin: 0 0 .5rem;
	font-size: .9rem;
}

.popup-content .website .website-label {
	display: inline-block;
}

.popup-content .website .website-url {
	display: inline-block;
	font-size: .9rem;
	word-break: break-all;
}

.popup-content .website .website-url .hidden-part {
	font-size: 0;
	color: rgba(0, 0, 0, 0); /* Transparent text, should work on any background colour */
}

.popup-content .website .website-url .hidden-indicator::before {
	content: "\2026";
}

.popup-content .opening-hours table {
	margin: 0 auto;
}

.popup-content .opening-hours table .highlighted {
	font-weight: 700;
}

.popup-content .opening-hours table .day {
	padding: 0 1rem 0 0;
}

.popup-content .options {
	margin-bottom: .5rem;
	text-align: center;
}

.popup-content .options button {
	margin: 0 .1rem;
	font-size: .75rem;
}

.popup-content .share {
	display: none;
	margin-bottom: .5rem;
	text-align: center;
}

.popup-content .share .share-url {
	width: 100%;
	padding: .15rem .25rem;
	margin-left: .25rem;
	font-size: 75%;
	border: 1px solid #aaa;
}

@media all and (max-width: 699px) {
	.leaflet-popup-content {
		margin: 1rem;
	}
}
