.search-results {
	position: absolute;
	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 30;
	display: none;
	padding: 0;
	background: #fff;
}

.search-results .title {
	margin: 10px 0 10px 10px;
	font-size: 1.25rem;
	font-weight: 700;
	color: #06f;
	text-align: left;
}

.search-results .close-button {
	float: right;
	margin: 8px 5px;
}

.search-results .results-container {
	width: 100%;
	max-height: calc(100vh - 80px - 3.25rem); /* viewport height - header - 1.25rem */
	padding: 0;
	overflow-y: auto;
}

.search-results .no-results {
	display: none;
	margin-right: 5px;
	margin-bottom: 1rem;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border: 1px solid #faebcc;
	border-radius: 2px;
}

.search-results .no-results p {
	padding: 3px 6px;
	font-size: .8rem;
	font-weight: 700;
	text-align: center;
}

.search-results .results {
	border-top: 1px solid rgba(0, 0, 0, .05);
}

.search-results .search-result {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.search-results .search-result a {
	display: block;
	padding: 4px 3px 5px 10px;
	margin: 3px 5px 3px 0;
	color: #00f;
	cursor: pointer;
}

.search-results .search-result .search-result-icon-container {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: text-top;
}

.search-results .search-result .search-result-icon {
	text-decoration: none;
}

.search-results .search-result .search-result-icon img {
	height: 16px;
}

.search-results .search-result .search-result-name {
	display: inline-block;
	width: calc(100% - 24px);
	vertical-align: top;
}

.search-results .search-result a:hover .search-result-name {
	text-decoration: underline;
}

@media all and (max-width: 699px) {
	.search-results {
		top: 64px;
		width: 100%;
		border-right-width: 0;
	}
}
