/* Marker Control */
.leaflet-control-marker-creator {
	padding: 3px;
	line-height: 1 !important;
}

/* Share popup */
.send-location-popup {
	text-align: center;
}
.send-location-popup h1 {
	font-size: 150%;
	text-align: left;
}
.send-location-popup p {
	font-size: 100%;
}
.send-location-popup textarea {
	width: 100%;
	padding: 5px;
}
.send-location-popup input.send-location-url {
	width: 200px;
	margin-left: 5px;
	padding: 1px 3px;
	border: 1px solid #AAA;
	font-size: 75%;
}
.send-location-popup button {
	cursor: pointer;
}
.send-location-popup .help {
	text-align: center;
	font-size: 90%;
}
