.leaflet-control-marker-creator img {
	vertical-align: middle;
}

.send-location-popup {
	font-size: .8rem;
	text-align: center;
}

.send-location-popup h1 {
	font-size: 1.1rem;
	text-align: left;
}

.send-location-popup textarea {
	min-width: 100%;
	max-width: 100%;
	min-height: 42px;
	max-height: 100px;
	padding: 5px;
	margin-bottom: .5rem;
}

.send-location-popup p {
	margin: 0 0 1rem;
}

.send-location-popup .send-location-url-field {
	width: 200px;
	padding: 1px 3px;
	margin-left: 5px;
	font-size: 75%;
	border: 1px solid #aaa;
}

.send-location-popup button {
	cursor: pointer;
}
