/* Info pages are pages with text information */
.info-page .header-logo .brand,
.info-page .header-logo .slogan {
	display: block;
}

.info-page .page-navigation {
	float: left;
	width: 256px;
	padding-left: .5rem;
}

.info-page .page-navigation .nav {
	flex-direction: column;
	margin-bottom: .5rem;
}

.info-page .page-navigation .nav .nav-item:hover {
	background-color: #d4d4d4;
}

.info-page .page-navigation .nav .nav-link {
	border: 1px solid #ccc;
	border-top-width: 0;
	border-right-width: 0;
}

.info-page .page-navigation .hosting-attribution {
	padding: 0 .5rem;
}

.info-page .page-content {
	padding: .5rem 1.5rem;
	margin-left: 256px;
	border-color: #8c8c8c;
	border-style: solid;
	border-width: 0;
	border-left-width: 1px;
}

.info-page .page-content h1 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #333;
}

.info-page .page-content h2 {
	font-size: 1.2rem;
	font-weight: 400;
	color: #600;
}

.info-page .page-content .section {
	margin-left: 2rem;
}

.info-page .page-content .play-download-badge {
	width: 160px;
}

.info-page .page-content code,
.info-page em {
	padding: 0 .25rem;
	color: #000;
	background-color: #f0f0f0;
}

.info-page .page-content dt {
	margin-bottom: .25rem;
}

.info-page .page-content dd {
	margin-left: 1rem;
}

.info-page .page-content .illustration {
	max-width: 100%;
	border: 1px solid #8c8c8c;
}

.info-page .page-content .right {
	float: right;
	margin: 0 0 .5em 1em;
}

.info-page .page-content .left {
	float: left;
	margin: 0 1em .5em 0;
}

.info-page .page-content .logo {
	border-width: 0;
}

.info-page .page-content .important {
	font-size: 1.25rem;
	font-weight: 700;
	color: #f00;
}

.info-page .page-content .nowrap {
	white-space: nowrap;
}

.info-page .page-content .clearfix {
	clear: both;
}

.info-page .page-navigation.active-felhasznalas .felhasznalas a,
.info-page .page-navigation.active-rolunk .rolunk a,
.info-page .page-navigation.active-terkepek .terkepek a,
.info-page .page-navigation.active-terkep .terkep a,
.info-page .page-navigation.active-gpsbekuldes .gpsbekuldes a,
.info-page .page-navigation.active-szerkesztes .szerkesztes a,
.info-page .page-navigation.active-letoltesek .letoltesek a {
	color: #243177;
	background-color: #ccdeed;
}

.highlight {
	color: #000;
	background-color: #ff0;
}

.website-content-license {
	margin: 1rem 0;
	font-style: italic;
	text-align: center;
}

/* Only on citylist page */
.info-page.citylist .citylist-table td {
	vertical-align: top;
}

/* Header on smaller screens */
@media all and (max-width: 910px) {
	.page-header .header-logo {
		width: 256px;
	}

	.page-header .header-logo .brand-and-slogan-container {
		display: block;
	}
}

/* On mobile or small screen */
@media all and (max-width: 699px) {
	.info-page .header-menu,
	.info-page .page-navigation,
	.info-page .page-content {
		position: static;
		display: block;
		float: none;
		width: auto;
		height: auto;
		padding: 0;
		margin: 2px;
		clear: both;
	}

	.info-page .header-menu,
	.info-page .page-navigation {
		margin: 0;
	}

	.info-page .page-navigation {
		padding: 0 10px;
	}

	.info-page .page-navigation .submenu-description {
		display: inline-block;
		width: 100%;
		padding: 0 10px;
		background: #f8f8f8;
		border: 1px solid #ddd;
		border-top-width: 0;
	}

	.info-page .page-navigation p {
		padding: 0 10px;
	}

	.info-page .page-content {
		padding: 0 10px;
		border-width: 0;
	}

	.info-page .page-content h1 {
		font-size: 1.3em;
	}

	.info-page .page-content p {
		text-align: justify;
	}

	.info-page .page-content .play-download-badge {
		width: 100%;
	}

	.info-page .page-content .logo {
		display: none;
	}

	.info-page .page-content .illustration {
		max-width: 100%;
	}

	.info-page .page-content .section {
		margin-left: 0;
	}

	.info-page .page-content code {
		word-wrap: break-word;
	}
}

@media all and (max-width: 375px) {
	.illustration {
		display: block;
		float: none;
		margin: 0 auto;
	}
}
