/* Info pages are pages with text information */
.info-page .header-logo .brand,
.info-page .header-logo .slogan {
	display: block;
}

.info-page h1,
.info-page .page-content h2 {
	color: #444;
}

.info-page h3 {
	font-family: "Bitstream Vera Sans", sans-serif;
	font-weight: 400;
	color: #942f43;
}

.info-page .navigation,
.info-page .page-content {
	font-family: Arial, sans-serif;
	font-size: 16px;
}

.info-page .navigation {
	float: left;
	width: 256px;
	margin: 0 6px 6px;
}

.info-page .navigation .submenu {
	width: 100%;
	padding: 0;
	margin: 0;
}

.info-page .navigation .submenu li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.info-page .navigation .submenu li:hover {
	background-color: #f0f0f0;
}

.info-page .navigation .submenu a {
	display: block;
	padding: 2px 5px 3px;
	line-height: 22px;
	color: #00e;
	text-decoration: none;
	border: 1px solid #ccc;
	border-top-width: 0;
	border-right-width: 0;
}

.info-page a {
	color: #00e;
}

.info-page .page-content {
	padding: 5px 20px;
	margin: 0 6px 6px 262px;
	border-color: #8c8c8c;
	border-style: solid;
	border-width: 0 1px;
}

.info-page .page-content .section {
	margin-left: 2em;
}

.info-page .page-content .play-download-badge {
	width: 160px;
}

.info-page .page-content code,
.info-page em {
	padding: 0 4px;
	color: #000;
	background-color: #f0f0f0;
}

.info-page .page-content dt {
	font-weight: 700;
}

.info-page .page-content dd {
	margin: 4px 0 4px 30px;
}

.info-page .page-content .links {
	padding: 3px 0 0 30px;
}

.info-page .page-content .nodots {
	padding: 0 0 0 20px;
	list-style-type: none;
}

.info-page .page-content .nodots li {
	margin-top: 10px;
	font-weight: 700;
}

.info-page .page-content .links li {
	margin-top: 5px;
	font-weight: 400;
}

.info-page .page-content .links a,
.info-page .page-content .ordered-instructions a {
	color: #00e;
	text-decoration: none;
}

.info-page .page-content .links a:hover,
.info-page .page-content .ordered-instructions a:hover {
	text-decoration: underline;
}

.info-page .page-content .ordered-instructions li {
	padding: 3px 0;
}

.info-page .page-content .illustration {
	max-width: 100%;
	border: 1px solid #8c8c8c;
}

.info-page .page-content .right {
	float: right;
	margin: 0 0 .5em 1em;
}

.info-page .page-content .left {
	float: left;
	margin: 0 1em .5em 0;
}

.info-page .page-content .logo {
	border-width: 0;
}

.info-page .page-content .important {
	font-size: 18px;
	font-weight: 700;
	color: #f00;
	text-align: center;
}

.info-page .page-content .clearfix {
	clear: both;
}

.info-page .navigation.active-felhasznalas .felhasznalas a,
.info-page .navigation.active-rolunk .rolunk a,
.info-page .navigation.active-terkepek .terkepek a,
.info-page .navigation.active-terkep .terkep a,
.info-page .navigation.active-gpsbekuldes .gpsbekuldes a,
.info-page .navigation.active-szerkesztes .szerkesztes a,
.info-page .navigation.active-letoltesek .letoltesek a {
	color: #fff;
	background-color: #666;
	border: 0 none;
}

/* TODO remove: overpass.js used this for highlighting a tool, but that code no longer works */
.highlight {
	color: #000;
	background-color: #ff0;
}

.website-content-license {
	margin: 15px 0;
	font-style: italic;
	text-align: center;
}

/* Only on citylist page */
.info-page.citylist .citylist-table td {
	vertical-align: top;
}

.info-page.citylist .citylist-table.rewrite td {
	font-family: monospace;
	font-size: 80%;
}

/* On mobile or small screen */
@media all and (max-width: 699px) {
	.info-page .page-header {
		height: 32px;
	}

	.info-page .header-menu,
	.info-page .navigation,
	.info-page .page-content {
		position: static;
		display: block;
		float: none;
		width: auto;
		height: auto;
		padding: 0;
		margin: 2px;
		clear: both;
	}

	.info-page .header-menu,
	.info-page .navigation {
		margin: 0;
	}

	.info-page .navigation {
		padding: 0 10px;
	}

	.info-page .navigation .submenu a {
		border-right-width: 1px;
	}

	.info-page .navigation .submenu-description {
		display: inline-block;
		width: 100%;
		padding: 0 10px;
		background: #f8f8f8;
		border: 1px solid #ddd;
		border-top-width: 0;
	}

	.info-page .navigation p {
		padding: 0 10px;
	}

	.info-page .page-content {
		padding: 0 10px;
		border-width: 0;
	}

	.info-page .page-content h1 {
		font-size: 1.3em;
	}

	.info-page .page-content p {
		text-align: justify;
	}

	.info-page .page-content .play-download-badge {
		width: 100%;
	}

	.info-page .page-content .logo {
		display: none;
	}

	.info-page .page-content .illustration {
		max-width: 100%;
	}

	.info-page .page-content .section {
		margin-left: 0;
	}

	.info-page .page-content code {
		word-wrap: break-word;
	}
}

@media all and (max-width: 375px) {
	.illustration {
		display: block;
		float: none;
		margin: 0 auto;
	}
}
